/*       General        */
body{
    font-family: 'Times New Roman';
    margin: 0;
}
h1, h2{
    background-color: #C4C4C4;
    color: #005677;
    text-transform: uppercase;
}

/********Header********/
header{
    background-color: #E5E5E5;
    text-align: center;
    margin-bottom: 6em;
}

.logo-cv{
    margin-top: 0;
    padding-top: 1em;
    margin-bottom: 1em;
}

header h1{
    font-size: 35px;
    height: 40px;
    letter-spacing:10px;
    margin: 0;
    padding: 10px;
    white-space: 12px;
}

/********Main********/
main{
    margin-left:12em;
    margin-right: 12em;
    margin-bottom: 10em;
}
section h2{
    font-size: 20px;
    height:30px;
    letter-spacing: 7px;
    padding-left: 0.5em;
    padding-top:0.3em;
}
span{
    font-weight: bold;
}
.datos{
    font-style: italic;
}

/********Footer********/
footer{
    background-color: #005677;
    display: flex;
    height: 40px;
    justify-content: center;
}
footer p{
    color: #FFFFFF;
    font-size:20px;
    font-weight: bold;
    margin-top:0.5em;
    word-spacing: 5px;
}

footer nav, footer nav a{
    padding-top:0.6em;
    margin-left: 1em;
}

.imagen{
    height:20px;
    width:20px;
}