/*       General        */
body{
    font-family: 'Times New Roman';
    margin: 0;
}
h1, h2{
    background-color: #C4C4C4;
    color: #005677;
    text-transform: uppercase;
}

/********Header********/
.logo-cv{
    background-color: #E5E5E5;
}
.h1-header{
    text-align: center;
    width: 1440;
}
.h1-header h1{
    font-size: 35px;
    height: 40px;
    letter-spacing:10px;
    margin: 0;
    padding: 10px;
    white-space: 12px;
}

/********Main********/
section h2{
    font-size: 20px;
}
span{
    font-weight: bold;
}
.datos{
    font-style: italic;
}

/********Footer********/
footer{
    background-color: #005677;
    color: #FFFFFF;
    font-size:20px;
    font-weight: bold;
}

